$bg-primary: #fbfafa;
$bg-secondary: #519df6;
$bg-tertiary: #2b2f33;
$text-color1: #fff;
$text-color2: black;


* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

body {
    background-color: $bg-primary;
}

.thanks {
    background-color: green;
    color: white; 
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;

}

b {
    font-weight: 500;
}


header {
    display: flex;
    background-image: url('images/montreal-sm.jpg');
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
    height: 100vh;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-weight: 200;
    font-size: 1rem;
    margin: 0 auto;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    // flex-flow: column-reverse wrap;
    justify-content: space-between;
    // align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    width: 90px;
    height: 90px;
    margin: 1rem;
    // margin-bottom: 1rem;
}

.logoinvis {
    height: 0px;
}

nav {
    padding-right: 1rem;

    a {
        text-decoration: none;
        color: $text-color1;
    }

    .burger {
        display: block; 
        font-size: 2.5rem;
        text-align: right;
    }

    .dropdown {
        height: 0px;
        overflow: hidden;
        flex-flow: column nowrap;
    }

    .exp {
        height: initial;
        display: flex;
        flex-flow: column nowrap;
        text-align: right;
        a {
            margin-bottom: 0.5rem;
        }
    }
}

.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.general {
    margin-top: 2rem;
}

.intro {
    padding: 0 1.5rem;
}

.dds {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.ddd {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem 2rem 1.5rem;
    p {
        text-align: justify center;
        font-size: 0.8rem;
    }
}

h3 {
    color: $bg-secondary;
    margin-bottom: 1rem;
}

.myskills {
    padding: 2rem 4rem 4rem 4rem;
    background-color: #519df6;
    color: white;
}

.progress {
    display: flex;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.skill1 {
    flex: 0 0 6rem;
    height: 2rem;
    background-color: $bg-tertiary;
    text-align: right;
    line-height: 2rem;
    padding-right: 0.5rem;
    text-align: right;
}

.bar {
    flex: 1;
    height: 2rem;
    background-color: $bg-primary;
    line-height: 2rem;
}

.knob {
    flex: 1;
    height: 2rem;
    background-color: #92ccf7;
}

.perc {
    flex: 0 0 3rem;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    padding-left: 0.5rem;
}

.portfolio {
    margin-top: 2rem;
    .container {
        width: 100%;
    }
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: center;
    // align-items: center;     
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    a{
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        .place {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            .folio-title {
                color: white;
                font-size: 1.5rem;
                // line-height: 200px;
            }
            .tech {
                color: white;
                font-size: 1rem;
                // line-height: 200px;
            }
            img {
                height: 33px;
            }
        }
    } 
}

.photo1 {
    background-image: url('images/scratch.jpg')
}

.photo2 {
    background-image: url('images/weather.jpg')
}

.photo3 {
    background-image: url('images/sky.jpg')
}

.photo4 {
    background-image: url('images/exchange.jpg')
}

.photo5 {
    background-image: url('images/Maya-Bay.jpg')
}

.photo6 {
    background-image: url('images/Lake-Bled.jpg')
}

.aboutme {
    padding: 2rem 4rem 4rem 4rem;
    background-color: $bg-primary;
    color: black;
    .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.about-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    .me {
        max-width: 300px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    p {
        max-width: 300px;
        font-size: 0.75rem;
    }
}

.findme {
    padding: 1rem 4rem 2rem 4rem;
    background-color: $bg-tertiary;
    color: white;
}

.social {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.icons {
    margin: 1rem;
    max-width: 100px;
    max-height: 100px;
}

.contactme {
    padding: 2rem 4rem 4rem 4rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#contact {
    width: 100%;
}

.fields {
    width: 100%;
}

.field1 {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    img {
        margin: 0.5rem;
    }
    input {
        width: 80vw;
        background-color: rgba(255, 255, 255, 1);
        font-family: 'Poppins', sans-serif;
        border: solid 1px $bg-secondary;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 200;
    }
}

textarea {
    width: 80vw;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px $bg-secondary;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 200;
    height: 10rem;
}

.field2 {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    p {
        margin: 0.5rem;
    }
}

button {
    width: 80vw;
    background-color: #519df6;
    border: none;
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.nice {
    padding: 1rem 4rem 4rem 4rem;
    background-color: $bg-secondary;
    color: white;
}

@media screen and (min-width: 615px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
        margin: 1rem auto;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin: 1rem;
    }

    .nav-container {
        align-items: flex-start;
        flex-flow: row nowrap;
        // flex-flow: column-reverse nowrap;
        // justify-content: space-between;
    }

    nav {
        .nav1 {
            display: flex;
        }
        
        a {
            display: block;
            padding: 1rem;
            padding-bottom: 0;
            font-size: 1rem;
            white-space: nowrap
        }
        .dropdown {
            flex-flow: row nowrap;
            font-size: 1rem;
            height: initial;
        }
        .burger {
            display: none;
        }
    }

    .dds {
        flex-flow: row wrap;
    }

    .ddd {
        width: calc(50% - 10px);
    }

    .projects {
        flex-flow: row wrap;
    }

    .img {
        width: 50%;
        height: 300px;
        // a .place span {
        //     line-height: 300px;
        // }
    }

    .about-content {
        p {
            max-width: 100%;
            font-size: 1rem;
        }
    }

    .social {
        flex-flow: row nowrap;
        align-items: space-around;
    }
}


@media screen and (min-width: 768px) {
    .nav-container {
        align-items: flex-start;
        flex-flow: row nowrap;
    }
    
    nav {
        a {
            font-size: 1rem;
            padding: 1rem;
        }

        a:hover {
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        background-attachment: fixed;
    }
    
    .ddd {
        width: calc(25% - 10px);
    }

    .about-content {
        flex-flow: row nowrap;
        align-items: flex-start;
        p {
            text-align: justify;
            padding-left: 2rem;
        }
    }

    .img {
        // width: calc(100% / 3);
        a .place {
            display: none;
        }
    }
    .photo1:hover {
        .hover1 {
            display: flex;
        }

        .place {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
    }

    .photo2:hover .hover2{
        display: flex;
    }
    .photo3:hover .hover3{
        display: flex;
    }
    .photo4:hover .hover4{
        display: flex;
    }
    .photo5:hover .hover5{
        display: flex;
    }
    .photo6:hover .hover6{
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio .container {
            width: 1200px;
        }
}

@media screen and (max-height: 500px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
}






















