* {
    margin: 0;
    text-align: center;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

body {
    background-color: #fbfafa;
    width: 100vw;
}

.container {
    width: 60em;
    margin: 0 auto;
}

header {
    display: flex;
    background: url('images/Montreal.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

b {
    font-weight: 500;
}

.main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.abc {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
}

nav .burger {
    display: none; 
    font-size: 3rem;
    padding: 0 2rem;
    text-align: center;
}

nav .burger::after {
    content: "\2630";
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    height: 2rem;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

nav .burger {
    display: none;
}

.logo {
    padding: 1rem;
}


h1  {
    font-weight: 200;
    font-size: 4rem;
}

.hero h2 {
    font-weight: 200;
    font-size: 2rem;
}

.general {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 6rem;
}

.discover {
    color: #2b2f33;
    padding-bottom: 3rem;
}

.dds {
    display: flex;
    justify-items: space-between;
    align-items: flex-start;
    height: 12rem;
}

h3 {
    color: #519df6;
    padding-bottom: 1rem;
}

.dds p {
    font-size: 0.75rem;
}

.ddd {
    flex-basis: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: space-between;
}

.ddd:first-child {
    padding-right: 2rem;
}

.ddd:last-child {
    padding-left: 2rem;
}

.myskills {
    background-color: #519df6;
    height: 30rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.myskills h2 {
    color: white;
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.progress {
    display: flex;
    height: 2.4rem;
    margin-bottom: 0.5rem;
}

.skill1 {
    flex: 0 0 8rem;
    height: 2.4rem;
    background-color: #2b2f33;
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
}

.bar {
    flex: 1;
    height: 2.4rem;
    background-color: #fbfafa;
}

.knob {
    
    height: 2.4rem;
    background-color: #92ccf7;

}

.skill1 p {
    text-align: left;
}

.portfolio {
    padding-top: 2rem;
    padding-bottom: 3rem;
    height: 35rem;
}

.portfolio h2 {
    color: #2b2f33;
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 1rem;  
}

/* .projects {
    display: flex;
    flex-wrap: wrap;
} */

.ppp {
    /* width: 33%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project1 {
    width: 3fr;
    height: 275px;
    overflow: hidden;
}

.link {
    display: flex;
    justify-items: center;
    align-items: center;
}

.project1 a {
    position: relative;
    display: inline-block;
}

a p {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    font-weight: 200;
    font-size: 2rem;
}

a img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* .link {
    display: flex;
    justify-content: center;
    align-content: center;
} */

.project1 a p:hover {
    /* text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.25)
    padding: 100%; */
}

.project1 {
    width: 33%;
    /* background: url('images/Bow\ River.jpg') center center; */
    /* background-size: cover; */
    align-items: center;
    justify-items: center;  
    /* padding: 6rem; */
    display: inline-block;
}

.project1 .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000;
    font-weight: 200;
    font-size: 2rem;
    display: none;
}

.hrad {
    display: flex;
    justify-content: center;
    align-content: center;
}

.after span {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    font-size: 2rem;
}

.project1:hover .after {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    /* padding: 100%;
    width: 100%; */
}

project1:hover .after span {
    display: block;
}



.aboutme {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #519df6;
    color: white;
}

.aboutme h2 {
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 1rem;  
}

.aaa {
    display: flex;
    justify-items: space-around;
    align-items: center;
}

.me {
    padding: 2rem;
}

.me img {
    border-radius: 50%;
    width: 20rem;
}

.text {
    width: 35rem;
    padding: 2rem;
}

.text p {
    text-align: justify;
}

.findme {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #2b2f33;
    color: white;
}

.findme h2 {
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 1rem; 
}

.social {
    display: flex;
    justify-content: space-around;
}

.contactme {
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: #2b2f33;
}

.contactme h2 {
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.fields {
    display: flex;
    justify-content: space-between;
    align-content: flex-start; 
    flex-wrap: wrap;
    text-align: left;
}

.field1 {
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 1rem;
}

.field2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    justify-self: center;
    padding: 1rem;
}

.field2 p {
    margin: 1rem;
}

button {
    background-color: #519df6;
    border: none;
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.nice {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #519df6;
    color: white;
}

.nice h2 {
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 1rem;
}

input {
    width: 500px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Poppins', sans-serif;
    border: solid 1px #2b2f33;
    text-align: left;
    font-size: 1rem;
    font-weight: 200;
}

.field1 img {
    padding-right: 1rem;
}

textarea {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1rem;
    font-weight: 200;
    height: 10rem;
}

@media screen and (max-width: 800px) {
    nav a {
        display: none;
    }

     nav .burger {
        display: block;
    }

    nav:hover .nav1 {
        display: block;
        position: absolute;
        display: flex;
        flex-direction: column; 
    }

    
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .abc {
        flex-direction: column-reverse;
        align-items: center;
        margin: auto;
    }

    
}